.animplan img{
animation-name: animplan;
animation-duration: 60s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}
.animplan{
margin: auto;
width: 400px;
height: auto;
position: relative; top: 150px;
}
@keyframes animplan {
0% {
-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg);
}
100% {
-webkit-transform:rotate(360deg);
-moz-transform:rotate(720deg);
-o-transform:rotate(360deg);
transform:rotate(360deg);
}
}